# Node
frontend/node_modules/
frontend/dist/
frontend/.env*.local

# Rails
backend/log/*.log
backend/db/seed_files/
backend/tmp/
backend/storage/
backend/public/assets
backend/config/master.key
backend/.env

# General
.DS_Store
*.env

# OMC internal state
.omc/
